{% extends "base.html" %}
{% block page_content %}


<div class="container">
            <h3 class="d-flex justify-content-center">
                <b>Внесите изменения в заявку №{{ applications }}:</b>
            </h3>
            <div class="d-flex justify-content-center py-3 mb-4 border-bottom border-success">
                <div>
                    <form action="{% url 'application_change' applications.pk %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <dl class="row">
                        {% for field in form %}
                            <dt class="col-sm-4">{{ field.label_tag }}</dt>
                            <dd class="col-sm-8">{{ field }}</dd>
                                {% if field.errors %}
                                    <div class="text-danger">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                        {% endfor %}
                        </dl>
                        <button type="submit" class="btn btn-success">Сохранить изменения</button>
                        <a href="{% url 'application' %}" class="btn btn-success">Вернуться на страницу регистрации заявок</a>
                    </form>
                    {% if success_message %}
                        <div class="alert alert-success mt-3 text-center">
                            {{ success_message }}
                        </div>
                    {% endif %}
                </div>
            </div>
    <table class="table table-hover table-striped table-bordered border-2 border-success text-center">
      <thead class="table table-success table-bordered border-success align-middle">
        <tr>
          <th scope="col" colspan="3">Заявка</th>
          <th scope="col" rowspan="2">Наименование заявителя</th>
          <th scope="col" colspan="2">Входящий номер БелГИСС</th>
          <th scope="col" rowspan="2" style="width: 80px;">Кол-во ИА</th>
          <th scope="col" colspan="2">Номер счета</th>
          <th scope="col" rowspan="2">Сумма</th>
          <th scope="col" colspan="2">Оплата</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table table-success table-bordered border-success align-middle">
          <td scope="col">№</td>
          <td scope="col">Дата</td>
          <td scope="col">PDF</td>
          <td scope="col"></td>
          <td scope="col">Вход.№</td>
          <td scope="col">Дата</td>
          <td scope="col"></td>
          <td scope="col">№ счета</td>
          <td scope="col">Дата</td>
          <td scope="col"></td>
          <td scope="col" style="width: 80px;">№ п/п</td>
          <td scope="col">Дата</td>
        </tr>
        <tr>
          <td>{{ applications.application_number }}</td>
          <td>{{ applications.created_on|date:"d.m.Y" }}</td>
          <td>
              {% if applications.pdf %}
                <a href="{{ applications.pdf.url }}" class="text text-success" target="_blank">PDF</a>
              {% else %}
                <a class="text text-danger">Пусто</a>
              {% endif %}
          </td>
          <td class="text-start ps-4">{{ applications.declarant }}</td>
          <td>
              {% if applications.application_number_belgiss %}
                {{ applications.application_number_belgiss }}
              {% else %}
                   <span class="text-danger">---</span>
              {% endif %}
          </td>
          <td>
              {% if applications.date_belgiss %}
                {{ applications.date_belgiss|date:"d.m.Y" }}
              {% else %}
                   <span class="text-danger">---</span>
              {% endif %}
          </td>
          <td>{{ applications.num_of_mach }}</td>
          <td>
              {% if applications.bill_number %}
                {{ applications.bill_number }}
              {% else %}
                   <span class="text-danger">---</span>
              {% endif %}
          </td>
          <td>
              {% if applications.bill_date %}
                {{ applications.bill_date|date:"d.m.Y" }}
              {% else %}
                   <span class="text-danger">---</span>
              {% endif %}
          </td>
          <td>
              {% if applications.payment %}
                {{ applications.payment }}
              {% else %}
                   <span class="text-danger">---</span>
              {% endif %}
          </td>
          <td>
              {% if applications.payment_document %}
                {{ applications.payment_document }}
              {% else %}
                   <span class="text-danger">---</span>
              {% endif %}
          </td>
          <td>
              {% if applications.payment_date|date:"d.m.Y" %}
                {{ applications.payment_date|date:"d.m.Y" }}
              {% else %}
                   <span class="text-danger">---</span>
              {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
</div>

{% endblock %}