{% extends "base.html" %}
{% load static %}


{% block page_content %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{{ form.media }}

<style>
    .search-form .form-control:focus {
        border-color: #198754;
        box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.25);
    }
    .form-select:focus {
        border-color: #198754;
        box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.25);
    }
    .select2-container--default {
        --select2-highlighted-bg: #176e35 !important;
    }
</style>

<div class="container">
    <br>
        <h3 class="d-flex justify-content-center">
            <b>Журнал заявок на техническое освидетельствование игровых автоматов.</b>
        </h3>
    <br>
    <div class="d-flex justify-content-center py-3 mb-4 border-bottom border-success">
        <div>
            <form action="{% url 'application' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <dl class="row">
                {% for field in form %}
                    <dt class="col-sm-4">{{ field.label_tag }}</dt>
                    <dd class="col-sm-8">{{ field }}</dd>
                        {% if field.errors %}
                            <div class="text-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                {% endfor %}
                </dl>
                <button type="submit" class="btn btn-success">Зарегистрировать заявку</button>
                <a href="{% url 'declarant' %}" class="btn btn-success">Добавить нового заявителя</a>
            </form>
            {% if success_message %}
                <div class="alert alert-success mt-3 text-center">
                    {{ success_message }}
                </div>
            {% endif %}
            {% if danger_message %}
                <div class="alert alert-danger mt-3 text-center">
                    {{ danger_message }}
                </div>
            {% endif %}
        </div>
    </div>
    <form class="search-form" method="get" action="" role="search">
        <table class="table table-hover table-striped table-bordered border-2 border-success text-center">
            <thead class="table table-success table-bordered border-success align-middle">
                <tr>
                    <th scope="col" colspan="3">Заявка</th>
                    <th scope="col" rowspan="2" style="width: 210px;">Наименование заявителя</th>
                    <th scope="col" colspan="2">Входящий номер БелГИСС</th>
                    <th scope="col" rowspan="2" style="width: 50px;">Кол. ИА</th>
                    <th scope="col" colspan="2">Номер счета</th>
                    <th scope="col" rowspan="2">Сумма</th>
                    <th scope="col" colspan="2">Оплата</th>
                    <th scope="col" rowspan="2">Город</th>
                    <th scope="col" rowspan="2" style="width: 100px;">Прим-е</th>
                    <th scope="col" rowspan="2" style="width: 50px;">Изм.</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table table-success table-bordered border-success align-middle">
                    <td scope="col" style="width: 90px;">№</td>
                    <td scope="col">Дата</td>
                    <td scope="col">PDF</td>
                    <td scope="col"></td>
                    <td scope="col" style="width: 90px;">Вход.№</td>
                    <td scope="col">Дата</td>
                    <td scope="col"></td>
                    <td scope="col">№ счета</td>
                    <td scope="col">Дата</td>
                    <td scope="col"></td>
                    <td scope="col" style="width: 90px;">№ п/п</td>
                    <td scope="col">Дата</td>
                    <td scope="col"></td>
                    <td scope="col"></td>
                    <td scope="col"></td>
                </tr>
                <tr>
                    <td>
                        <input type="search" name="application_number" class="form-control me-2" value="{{ filter_dict.application_number|default:'' }}" aria-label="Search">
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        <input type="search" name="declarant" class="form-control me-2" value="{{ filter_dict.declarant|default:'' }}" aria-label="Search">
                    </td>
                    <td>
                        <input type="search" name="application_number_belgiss" class="form-control me-2" value="{{ filter_dict.application_number_belgiss|default:'' }}" aria-label="Search">
                    </td>
                    <td></td>
                    <td>
                        <input type="search" name="num_of_mach" class="form-control me-2" value="{{ filter_dict.num_of_mach|default:'' }}" aria-label="Search">
                    </td>
                    <td>
                        <input type="search" name="bill_number" class="form-control me-2" value="{{ filter_dict.bill_number|default:'' }}" aria-label="Search">
                    </td>
                    <td></td>
                    <td>
                        <input type="search" name="payment" class="form-control me-2" value="{{ filter_dict.payment|default:'' }}" aria-label="Search">
                    </td>
                    <td>
                        <input type="search" name="payment_document" class="form-control me-2" value="{{ filter_dict.payment_document|default:'' }}" aria-label="Search">
                    </td>
                    <td></td>
                    <td>
                        <input type="search" name="place" class="form-control me-2" value="{{ filter_dict.place|default:'' }}" aria-label="Search">
                    </td>
                    <td>
                        <input type="search" name="notice" class="form-control me-2" value="{{ filter_dict.notice|default:'' }}" aria-label="Search">
                        <button type="submit" class="btn btn-outline-success" style="display: none;">
                                <i class="bi bi-search"></i>
                        </button>
                    </td>
                    <td></td>
                </tr>
                {% for app in page_obj %}
                <tr>

                    <td>{{ app.application_number }}</td>
                    <td>{{ app.created_on|date:"d.m.Y" }}</td>
                    <td>
                        {% if app.pdf %}
                            <a href="{{ app.pdf.url }}" class="text text-success" target="_blank">PDF</a>
                        {% else %}
                            <a class="text text-danger">Пусто</a>
                        {% endif %}
                    </td>
                    <td class="text-start ps-4">{{ app.declarant }}</td>
                    <td>
                        {% if app.application_number_belgiss %}
                            {{ app.application_number_belgiss }}
                        {% else %}
                            <span class="text-danger">---</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if app.date_belgiss|date:"d.m.Y" %}
                            {{ app.date_belgiss|date:"d.m.Y" }}
                        {% else %}
                            <span class="text-danger">---</span>
                        {% endif %}
                    </td>
                    <td>{{ app.num_of_mach }}</td>
                    <td>
                        {% if app.bill_number %}
                            {{ app.bill_number }}
                        {% else %}
                            <span class="text-danger">---</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if app.bill_date|date:"d.m.Y" %}
                            {{ app.bill_date|date:"d.m.Y" }}
                        {% else %}
                            <span class="text-danger">---</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if app.payment %}
                            {{ app.payment }}
                        {% else %}
                             <span class="text-danger">---</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if app.payment_document %}
                            {{ app.payment_document }}
                        {% else %}
                            <span class="text-danger">---</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if app.payment_date|date:"d.m.Y" %}
                            {{ app.payment_date|date:"d.m.Y" }}
                        {% else %}
                            <span class="text-danger">---</span>
                        {% endif %}
                    </td>
                    <td>{{ app.place }}</td>
                    <td>{{ app.notice }}</td>
                    <td><a href="{% url 'application_change' app.pk  %}" class="btn btn-success" style="padding: 2px 6px; font-size: 12px;">Изм.</a>
                    </td>
                </tr>
                {% endfor %}
          </tbody>
        </table>
    </form>
</div>

{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">

    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link text-success" href="?page={{ page_obj.previous_page_number }}{% if flag_get %}&is_publ=1{% endif %}{% if title_get %}&title={{ title_get }}{% endif %}{% if category_get %}&cat={{ category_get }}{% endif %}{% if order %}&order={{ order }}{% endif %}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true">&laquo;</span>
      </li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <li class="page-item active" aria-current="page">
          <span class="page-link bg-success text-white">{{ num }}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link text-success" href="?page={{ num }}{% if flag_get %}&is_publ=1{% endif %}{% if title_get %}&title={{ title_get }}{% endif %}{% if category_get %}&cat={{ category_get }}{% endif %}{% if order %}&order={{ order }}{% endif %}">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link text-success" href="?page={{ page_obj.next_page_number }}{% if flag_get %}&is_publ=1{% endif %}{% if title_get %}&title={{ title_get }}{% endif %}{% if category_get %}&cat={{ category_get }}{% endif %}{% if order %}&order={{ order }}{% endif %}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link " aria-hidden="true">&raquo;</span>
      </li>
    {% endif %}

  </ul>
</nav>
{% endif %}

{% endblock %}