{% extends "base.html" %}
{% block page_content %}
<style>
    .search-form .form-control:focus {
        border-color: #198754;
        box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.25);
    }
</style>

<div class="container">
    <br>
    <form action="{% url 'docx_create' %}" method="post">
        {% csrf_token %}
        <dl class="row">
            {% for field in form %}
            <dt class="col-sm-4">Введите {{ field.label_tag }}</dt>
            <dd class="col-sm-8">{{ field }}</dd>
                {% if field.errors %}
                    <div class="text-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
            {% endfor %}
        </dl>
        <button type="submit" class="btn btn-success">Сформировать файл</button>
    </form>
    {% if success_message %}
        <div class="alert alert-success mt-3 text-center">
            {{ success_message }}
        </div>
    {% endif %}

<br>
    <h3>
        <b>Журнал актов технического освидетельствования (ТО)</b>
    </h3>
    <form class="search-form d-flex" role="search">
    <table class="table table-hover table-striped table-bordered border-2 border-success text-center">
      <thead class="table table-success table-bordered border-success align-middle">
        <tr>
            <th scope="col">№ Акта</th>
            <th scope="col">Заявка</th>
            <th scope="col" style="width: 100px;">Номера средств контроля</th>
            <th scope="col">Наименование заявителя</th>
            <th scope="col">Результат</th>
            <th scope="col">Модель</th>
            <th scope="col">Версия</th>
            <th scope="col">Серийный номер ИА</th>
            <th scope="col">Номер по реестру</th>
            <th scope="col">Номер платы</th>
        </tr>
      </thead>
      <tbody>
      <tr>
            <td>
                <input type="search" name="act_number" class="form-control me-2" value="{{ act_number|default:'' }}" aria-label="Search">
            </td>
            <td>
                <input type="search" name="application" class="form-control me-2" value="{{ application|default:'' }}" aria-label="Search">
            </td>
            <td>
                <input type="search" name="control_sticks_number" class="form-control me-2" value="{{ control_sticks_number|default:'' }}" aria-label="Search">
            </td>
            <td>
                <input type="search" name="declarant" class="form-control me-2" value="{{ declarant|default:'' }}" aria-label="Search">
            </td>
            <td>
                <input type="search" name="result" class="form-control me-2" value="{{ result|default:'' }}" aria-label="Search">
            </td>
            <td>
                <input type="search" name="model" class="form-control me-2" value="{{ model|default:'' }}" aria-label="Search">
            </td>
            <td>
                <input type="search" name="version" class="form-control me-2" value="{{ version|default:'' }}" aria-label="Search">
            </td>
            <td>
                <input type="search" name="slot_number" class="form-control me-2" value="{{ slot_number|default:'' }}" aria-label="Search">
            </td>
            <td>
                <input type="search" name="reg_number" class="form-control me-2" value="{{ reg_number|default:'' }}" aria-label="Search">
            </td>
            <td>
                <input type="search" name="board_number" class="form-control me-2" value="{{ board_number|default:'' }}" aria-label="Search">
                <button type="submit" class="btn btn-outline-success" style="display: none;">
                        <i class="bi bi-search"></i>
                </button>
            </td>
        </tr>
      {% for group in slot_machines_data_group %}
        {% for row in group.groups %}
            <tr>
                {% if forloop.first %}
                <td class="
                    {% for key, value in color_mapp.items %}
                        {% if row.user.username == key %}
                            {{ value }}
                        {% endif %}
                    {% endfor %}"
                    valign="middle"
                    rowspan="{{ group.count }}">{{ group.act_number }}</td>
                {% endif %}
                <td>{{ row.distribution.application }}</td>
                <td>{{ row.control_sticks_number }}</td>
                <td>{{ row.distribution.application.declarant }}</td>
                <td>{{ row.conformity }}</td>
                <td>{{ row.model_registry.model }}</td>
                <td>{{ row.model_registry.version }}</td>
                <td>{{ row.slot_number }}</td>
                <td>{{ row.model_registry }}</td>
                <td>{{ row.board_number }}</td>
            </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
    </form>
</div>

</div>
{% endblock %}