{% extends "base.html" %}
{% block page_content %}
<style>
    .search-form .form-control:focus {
        border-color: #198754;
        box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.25);
    }
</style>

<div class="container">
    <br>
    <form action="{% url 'docx_create' %}" method="post">
        {% csrf_token %}
        <dl class="row">
            {% for field in form %}
            <dt class="col-sm-4">Введите {{ field.label_tag }}</dt>
            <dd class="col-sm-8">{{ field }}</dd>
                {% if field.errors %}
                    <div class="text-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
            {% endfor %}
        <button type="submit" class="btn btn-success">Сформировать файл</button>
    </form>
</div>
{% endblock %}